
/*pc*/
@media (min-width : 1024px) {
    .mobile-menu_bt{
        display: none;
    }

    .footer-list__grow3{
        display: none  ;
    }

}

/*tablet*/
@media (min-width : 740px) and (max-width : 1023px) {
    #ds li a{
        text-decoration: none;
        line-height: 50px;
        padding: 0 10px;
        display: block;
    }

    .mobile-menu_bt{
        display: none;
    }

    .footer-list__grow3{
        display: none  ;
    }
}

/*mobile*/
@media (max-width : 739px) {
    #ds{
        display: block;
    }

    #ds .subds {
        position: initial;
    }

    #ds .subds a{
        color: #fff;
        padding: 5px 32px;
    }
    #ds > li{
        display: block;
        position: relative;
        
    }

    #ds > li:first-child{
        display: inline-block;
    }
    #header{
        overflow: hidden;
    }

    #s{
        position: absolute;
        display: inline-block;
        right: 0px;
        font-size: 22px;
        color: white;
        line-height: 50px;
        cursor: pointer;
        padding: 0px 40px;
        box-sizing: border-box;
        display: none;
    }

    .mobile-menu_bt {
        position: absolute;
        display: inline-block;
        right: 0px;
        font-size: 22px;
        color: white;
        line-height: 50px;
        padding: 0px 40px;
        box-sizing: border-box;
        top: 0;
        right: 0;
    }

    .mobile-menu_bt:hover{
        color: black;
        background-color: #ccc;
    }
    
    #slider{
        height: 160px;
    }


    .slider__nav-left{
        margin-left: 5px;
    }
    .slider__nav-right{
        margin-right: 5px;
    }
    .nav__icon-left{
        font-size: 1.4rem;
        color: #888;
    }
    
    .nav__icon-left:hover {
        font-size: 1.8rem;
        color: #666;
    }
    
    .nav__icon-right{
        font-size: 1.4rem;
        color: #888;
    }
    
    .nav__icon-right:hover {
        font-size: 1.8rem;
        color: #666;
    }

    .tour__info{display: none;}

    .tour__ticket{
        margin-top: 25%;
        font-size: 1rem;
        width: 86px;
        height: 30px;

    }
    .footer-list__collum2-2{
        display: none;
    }
    .footer-list__grow2{
        padding-top: 30px;
        text-align: center;
    }

    .footer-list__msg{
        width: 150px;
    }

    .footer-list__collum2 p {
        width: 265px;
        font-size: 1rem;
        color: #333;
    }

    /*modal*/

    .ticket__select{
        width: 100%;
        height: calc(100% - 50px);
        bottom: 0;
    }

    .mail__info-user{
        display: block;
        margin: 30px 0px 0px 0px;
    }
    .mail__text{
        font-size: 1rem;
    }
    .mail__info{
        width: 100%;
        margin: 5px 0px 0px 0px;
        height: 1.6rem;
    }
    
    .SDT__info-user{
        display: block;
        margin: 10px 0px 0px 0px;
    }
    .SDT__text{
        font-size: 1rem;
    }
    .SDT__info{
        width: 100%;
        margin: 5px 0px 0px 0px;
        height: 1.6rem;
    }
    
    .selects__option{
        margin: 10px 0px 10px 0px;
        height: 120px;
        position: relative;
    
    }
    .label__text-option{
        font-size: 1rem;
    }
    
    #place{
        margin-left: 0px;
        width: 100%;
        height: 1.6rem;
    }
    .submit{
        background-color: red;
        position: absolute;
        right: 0px;
        bottom: 10px;
        width: 100px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 1.4rem;
        color: white;
        cursor: pointer;
    }
    .submit:hover {
        background-color: rgb(250, 93, 93);
    }
    
    .thankyou{
        width: 100%;
        position: absolute;
        bottom: 20px;
        text-align: center;
        font-size: 1rem;
    }
    
}