*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#header{
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

#ds{
    display: inline-block;
}

#ds , .subds{
    list-style-type: none;

}

#ds > li{
    display: inline-block;
    position: relative;
    
}

#ds > li > a{
    color: white;
    text-transform: uppercase;
}

#ds li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

#ds > li:hover > a, #ds .subds li:hover{
    color: black;
    background-color: rgb(206, 203, 20);
}
#ds .subds{
    display: none;
    position: absolute;
    top:calc(100% + 2px);
    left: 0;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 0px 0px 5px  #999;
    width: 100%;
    
}

.subds::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: -3px;
    right: 0;
    background-color: transparent;
}

#ds li:hover .subds{
    display: block;
}

#ds .subds a{
    color: black;
    padding: 0px 32px;
    line-height: 30px;
}

#s{
    position: absolute;
    display: inline-block;
    right: 0px;
    font-size: 22px;
    color: white;
    line-height: 50px;
    cursor: pointer;
    padding: 0px 40px;
    box-sizing: border-box;
}

#s:hover{
    background-color: rgb(221, 19, 19);
    color: black;

}
/*
#slider{
    margin-top: 50px;
    padding-top: 50%;
    background: url(http://baochinhphu.vn/Uploaded/duongphuonglien/2020_07_06/ha%20long.jpg) center / cover no-repeat;

}

*/

/* //next slider
#slider{
    margin-top: 50px;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__imgs{
    width: 400vw;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    transition: 0.5s all;
}

.slider__img{
    width: 100vw;
    overflow: hidden;
}

.slider__onepic{
    width: 100vw;
    height: 100%;
}
    /*
    animation: zoomout linear 5s;
}
@keyframes zoomout{
    from{
        transform: scale(1s);
    }
    to{
        transform: scale(1.1);
    }
}


.slider__run{
    
    transform: translateX(-100vw);
}

.slider__navs{
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.slider__nav-left{
    margin-left: 20px;
}
.slider__nav-right{
    margin-right: 20px;
}
.nav__icon-left{
    font-size: 2.8rem;
    color: #888;
}

.nav__icon-left:hover {
    font-size: 3rem;
    color: #333;
}

.nav__icon-right{
    font-size: 2.8rem;
    color: #888;
}

.nav__icon-right:hover {
    font-size: 3rem;
    color: #333;
}
*/

#slider{
    margin-top: 50px;
    height: 600px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__imgs{
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    transition: 0.5s all;
    overflow: hidden;
}

.slider__img{
    width: 100vw;
    overflow: hidden;
}

.slider__img.js-none{
    display: none;
    
}

.slider__onepic{
    width: 100%;
    height: 100%;
}
@keyframes zoomout{
    from{
        transform: scale(1s);
    }
    to{
        transform: scale(1.1);
    }
}

.slider__navs{
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: none;
    
}

.slider__nav-left{
    margin-left: 20px;
}
.slider__nav-right{
    margin-right: 20px;
}
.nav__icon-left{
    font-size: 2.8rem;
    color: #888;
}

.nav__icon-left:hover {
    font-size: 3rem;
    color: #333;
}

.nav__icon-right{
    font-size: 2.8rem;
    color: #888;
}

.nav__icon-right:hover {
    font-size: 3rem;
    color: #333;
}
#content{
    background-color: burlywood;
    position: relative;
}

#content .aboutp h2{
    text-align: center;
    padding: 55px;

}

.buy__ticket{
    display: none;
}

#content .aboutp p{
    text-align: justify;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;

}


.avatar-list{
    display: flex;
    justify-content: space-between;
    padding: 6%;
}
.avatar-list__vhl{
    position: relative;
    width: 45%;
}

.avatar-list__vhl-pic1{
    width: 100%;
    height: 100%;
}
.avatar-list__vhl-pic2{
    width: 100%;
    height: 100%;
}

.avatar-list__vhl:hover .tour__data{
    display: block;
    opacity: 1;
}
.tour__data{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0, #333 , rgba(0, 0, 0, 0.1));
    display: none;
    opacity: 0;
    transition: all linear 0.2s;
}

.tour__info{
    color: white;
    font-size: 1.6rem;
    margin-top: 25%;
    margin-bottom: 5%;
    text-align: center;
}

.tour__ticket{
    width: 110px;
    height: 38px;
    font-size: 1.2rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    cursor: pointer;
}

#footer{
    background-color: #e6d8d6;
}


.footer-list__grow3,
.footer-list__grow{
    display: flex;
    justify-content: space-between;
    padding: 3% 12%;
}

h3.footer-list__title{
    padding-bottom: 10px;
}
.footer-list__ds{
    position: relative;
    list-style: none;
}
.footer-list__item{
    color: rgba(0, 0, 0, 0.733);
    padding-bottom: 6px;
}
.footer-list__grow2{
    padding-top: 10px;
    text-align: center;
}
.footer-list__item2 i{
    line-height: 1.5;
}

.footer-list__msg{
    position: absolute;
    right: 0px;
}

.footer-list__send{
    position: absolute;
    right: 0px;
}

/*modal*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    animation: grown linear 0.1s;
    will-change: transform, opacity;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.ticket__select{
    position: absolute;
    background-color: white;
    width: 800px;
    height: 450px;
}

.buy__ticket:checked ~ .modal{
    display: flex;
}

@keyframes grown {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.ticket__title-option{
    background-color: turquoise;
    width: 100%;
    height: 80px;
}

.ticket__select-title{
    line-height: 80px;
    text-align: center;
    font-size: 1.6rem;
}
.close__it{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    font-size: 1.4rem;
    margin-left: 300px;
    cursor: pointer;
}

.mail__info-user{
    display: flex;
    margin: 60px 130px 0px 40px;
}
.mail__text{
    font-size: 1.2rem;
}
.mail__info{
    margin: 0px 0px 0px 20px;
    flex: 1;
    height: 1.6rem;
}

.SDT__info-user{
    display: flex;
    margin: 25px 130px 0px 40px;
}
.SDT__text{
    font-size: 1.2rem;
}
.SDT__info{
    margin: 0px 0px 0px 20px;
    flex: 1;
    height: 1.6rem;
}

.selects__option{
    margin: 25px 130px 15px 40px;
    height: 100px;
    position: relative;

}
.label__text-option{
    font-size: 1.2rem;
}

#place{
    margin-left: 20px;
    height: 1.6rem;
    width: 338px;
}
.submit{
    background-color: red;
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.submit:hover {
    background-color: rgb(250, 93, 93);
}

.thankyou{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}
