*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#header{
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

#ds{
    display: inline-block;
}

#ds , .subds{
    list-style-type: none;

}

#ds > li{
    display: inline-block;
    position: relative;
    
}

#ds > li > a{
    color: white;
    text-transform: uppercase;
}

#ds li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

#ds > li:hover > a, #ds .subds li:hover{
    color: black;
    background-color: rgb(206, 203, 20);
}
#ds .subds{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 0 0 2px rgb(27, 23, 23);
    
}

#ds li:hover .subds{
    display: block;
}

#ds .subds a{
    color: black;
    padding: 0px 32px;
    line-height: 30px;
}

#s{
    position: absolute;
    display: inline-block;
    right: 0px;
    font-size: 22px;
    color: white;
    line-height: 50px;
    cursor: pointer;
    padding: 0px 40px;
    box-sizing: border-box;
}

#s:hover{
    background-color: rgb(221, 19, 19);
    color: black;

}

#slider{
    margin-top: 50px;
    padding-top: 50%;
    background: url(http://baochinhphu.vn/Uploaded/duongphuonglien/2020_07_06/ha%20long.jpg) center / cover no-repeat;

}

#content{
    background-color: burlywood;
    position: relative;
}

#content .aboutp h2{
    text-align: center;
    padding: 55px;

}

#content .aboutp p{
    text-align: justify;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;

}


.avatar-list{
    display: flex;
    justify-content: space-between;
    padding: 6%;
}
.avatar-list__vhl{
    width: 45%;
}

.avatar-list__vhl-pic1{
    width: 100%;
    height: 100%;
}
.avatar-list__vhl-pic2{
    width: 100%;
    height: 100%;
}

#footer{
    background-color: #e6d8d6;
}


.footer-list__grow3,
.footer-list__grow{
    display: flex;
    justify-content: space-between;
    padding: 3% 12%;
}

h3.footer-list__title{
    padding-bottom: 10px;
}
.footer-list__ds{
    position: relative;
    list-style: none;
}
.footer-list__item{
    color: rgba(0, 0, 0, 0.733);
    padding-bottom: 6px;
}
.footer-list__grow2{
    padding-top: 10px;
    text-align: center;
}
.footer-list__item2 i{
    line-height: 1.5;
}

.footer-list__msg{
    position: absolute;
    right: 0px;
}

.footer-list__send{
    position: absolute;
    right: 0px;
}